<div class="main">
  {{>navPopup}}
  <div class="carousel-container">
    <div class="show-prev arrow">
      <img id="arrow-left" src="/images/icons/arrow-left.svg" alt="">
    </div>

    <div class="show-next arrow">
      <img id="arrow-right" src="/images/icons/arrow-right.svg" alt="">
    </div>
    <div class="menu-btn-container">
      <div class="menu-btn">
        MENU
      </div>

    </div>
    <img id="{{imageId0}}" class="carousel-img active" src="{{imageURL}}" alt="">
    <img id="{{imageId1}}" class="carousel-img" src="{{imageURL2}}" alt="">
    <img id="{{imageId2}}" class="carousel-img" src="{{imageURL3}}" alt="">
    <img id="{{imageId3}}" class="carousel-img" src="{{imageURL4}}" alt="">
  </div>
  home here
</div>
